body {
    font-family: var(--font-sans-serif-Mulish);
    font-size: var(--tt-bu);
    line-height: 1.6;
    background-color: var(--main-colors-beige-1);
    font-weight: 375;
}

h1 {
    font-size: var(--tt-h1);
    font-weight: 700;
    color: var(--grey-blanc);
}

h2 {
    font-size: var(--tt-h2);
    font-weight: 600;
    color: var(--grey-noir);
}

h3 {
    font-size: var(--tt-h3);
    font-weight: 550;
    color: var(--grey-noir);
}

h4 {
    font-size: var(--tt-b1);
    font-weight: 500;
    color: var(--grey-noir);
}

p {
    font-size: var(--tt-b2);
    font-weight: 400;
    color: var(--grey-noir);
    line-height: 1.2;
}

button,
input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .noscroll {
    overflow: hidden;
  }
