:root {
  --anim-dur: 0.5s;
  --trans-dur: 0.3s;
  --ease-in-out: ease-in-out;
  --ease-out: ease-out;
  --ease-in: ease-in;
}

.accordion {
  margin: auto;
  width: 100%;
  max-width: 18em;
}

.accordion__item {
  background-color: var(--shade1);
  transition: background-color var(--trans-dur);
}

.accordion__item-btn {
  background-color: transparent;
  box-shadow: 0 0 0 0.125em hsla(var(--hue), 90%, 50%, 0) inset;
  cursor: pointer;
  list-style: none;
  outline: transparent;
  padding: 0.25em 0.5em;
  position: relative;
  text-align: left;
  width: 100%;
  transition: box-shadow calc(var(--trans-dur) / 2) var(--ease-in-out);
  -webkit-tap-highlight-color: transparent;
}

.accordion__item-btn:before, .accordion__item-btn:after {
  background-color: currentColor;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5em;
  width: 0.75em;
  height: 1px;
  transition: transform var(--trans-dur) var(--ease-in-out);
}

.accordion__item-btn:after {
  transform: rotate(-90deg);
}

.accordion__item-btn::marker, .accordion__item-btn::-webkit-details-marker {
  display: none;
}

.accordion__item-desc {
  color: var(--desc-text1);
  padding: 0 0.5em 1em 0.5em;
  transition: max-height var(--anim-dur) var(--ease-in-out),
  opacity var(--anim-dur) var(--ease-in-out);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.accordion__item:nth-child(2) {
  background-color: var(--shade2);
}

.accordion__item:nth-child(3) {
  background-color: var(--shade3);
}

.accordion__item:nth-child(3) .accordion__item-btn {
  color: var(--bg);
  transition: color var(--trans-dur);
}

.accordion__item:nth-child(3) .accordion__item-desc {
  color: var(--desc-text2);
}

.accordion__item:nth-child(4) {
  background-color: var(--shade4);
}

.accordion__item[open] .accordion__item-btn:after {
  transform: rotate(0);
}

.accordion__item.expanding .accordion__item-btn:after {
  animation: accordion-minus var(--anim-dur) var(--ease-in) forwards;
}

.accordion__item.expanding .accordion__item-desc {
  animation: accordion-slide-in var(--anim-dur) var(--ease-in) forwards;
}

.accordion__item.collapsing .accordion__item-btn:after {
  animation: accordion-plus var(--anim-dur) var(--ease-out) forwards;
}

.accordion__item.collapsing .accordion__item-desc {
  animation: accordion-slide-out var(--anim-dur) var(--ease-out) forwards;
}

.accordion a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--tt-b1);
  font-family: var(--font-sans-serif-Poppins);
  color: var(--grey-noir);
}

.accordion__item[open] .accordion__item-desc {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.accordion__item:nth-child(1) .accordion__item-desc a {
  background-color: var(--main-colors-rouge-1);
}

.accordion__item:nth-child(2) .accordion__item-desc a {
  background-color: var(--main-colors-orange-1);
}

.accordion__item:nth-child(3) .accordion__item-desc a {
  background-color: var(--main-colors-jaune-1);
}

@keyframes accordion-minus {
  from {
      transform: rotate(-90deg);
  }
  to {
      transform: rotate(0);
  }
}

@keyframes accordion-plus {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(90deg);
  }
}

@keyframes accordion-slide-in {
  from {
      opacity: 0;
      max-height: 0;
      padding-bottom: 0;
  }
  to {
      opacity: 1;
      max-height: 500px;
      padding-bottom: 1em;
  }
}

@keyframes accordion-slide-out {
  from {
      opacity: 1;
      max-height: 500px;
      padding-bottom: 1em;
  }
  to {
      opacity: 0;
      max-height: 0;
      padding-bottom: 0;
  }
}