img {
    max-width: 100%;
    height: auto;
}

.carousel {
    position: relative;
}

.carousel__controls {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
}

.carousel__button {
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba(90, 0, 0, 0.5);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--grey-blanc);
    cursor: pointer;
    z-index: 1;
}

.carousel__button--prev {
    transform: rotate(180deg);
}

.carousel__container {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    margin-left: -12px;
    margin-right: -12px;
    scroll-snap-type: x mandatory;
    position: relative;
}

.carousel__item {
    flex: 1 0 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel__nav ul {
    list-style: none;
    padding: 0;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.carousel__nav a {
    text-decoration: none;
    font-weight: bold;
}

.carousel__nav-item {
    display: inline-block;
    width: 50px;
    height: 20px;
    border-radius: 5%;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    color: var(--grey-noir); 
    background-color: transparent; 
    border: 1px solid var(--grey-noir); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px; 
}

.carousel__nav-item a {
    color: black; 
}


