.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: var(--main-colors-beige-1);
    color: var(--grey-noir);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space5x) var(--space5x) var(--space3x);
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
  }
  .menu[aria-hidden="false"] {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  
  .menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--space3x);
  }

  .menu__link {
    color: var(--grey_blanc);
    text-decoration: none;
    font-size: var(--tt-h3);
    display: block;
  }
  
  .menu__link--silent {
    color: var(--grey-blanc);
    font-size: var(--fs-s);
  }
  
  .menu__item {
    margin-bottom: var(--space3x);
    padding-bottom: var(--space1x);
    border-bottom: 1px solid var(--grey-blanc);
  }
  
  .menu__social-network,
  .menu__terms {
    display: flex;
    gap: var(--space2x);
    justify-content: end;
    margin-bottom: var(--space2x);
  }
  

  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: "";
    background: var(--grey-blanc);
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  
  .menu-btn__bar::before {
    top: -10px;
  }
  
  .menu-btn__bar::after {
    top: 10px;
  }
  
  /* Technique pour transformer les 3 barres du bouton de menu en croix
  Ne pas oublier d'ajouter une transition plus haut pour l'animation */
  .menu-btn[aria-expanded="true"] .menu-btn__bar,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::before,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--grey-noir);
  }
  
  .menu-btn[aria-expanded="true"] .menu-btn__bar::before,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
  }
  

  
  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--grey-blanc);
    transition: all 0.4s ease-in-out;
  }
  
  .menu-btn__bar {
    /* Position de la barre du milieu */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .menu-btn__bar::before {
    top: -11px;
  }
  
  .menu-btn__bar::after {
    top: 11px;
  }
  
  /* Animation de transformation en croix */
  .menu-btn[aria-expanded="true"] .menu-btn__bar {
    background-color: var(--grey-noir);
    transform: rotate(45deg);
  }
  
  .menu-btn[aria-expanded="true"] .menu-btn__bar::before {
    top: 0;
    transform: rotate(90deg);
    background-color: var(--grey-noir);
  }
  
  .menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    top: 0;
    transform: rotate(-90deg);
    background-color: var(--grey-noir);
  }


  